<div class="absolute grid grid-cols-2 z-50 w-full h-full gap-4">
    <div class="grid grid-rows-[30%_70%] gap-4">
        <div class="mx-4 my-4 bg-white bg-opacity-70 rounded-lg border-solid border-black border-2 h-[95%] w-[95%] grid justify-center place-self-center grid-cols-[30%_70%]">
            <div class="place-content-center">
                <img [src] = "playerModel.ImgUrl" alt="Avatar" class="rounded-full w-[85%] h-[85%] place-self-center border-2 border-solid border-black">
            </div>
            <div class="grid grid-rows-[49%_2%_49%] mr-5">
                <div class="place-content-end grid grid-cols-2">
                    <h1 class="player-info">{{playerModel.Username}}</h1>
                    <h1 class="player-info mx-auto">Lv.{{ playerLevel }}</h1>
                </div>
                <div class="place-content-center w-[85%]"><div class="orizontal-line w-full"></div></div>
                <div class="grid grid-rows-[40%_60%]">
                    <div>
                        <div class="w-[85%] bg-gray-200 mt-2 rounded-full dark:bg-gray-700">
                            <div class="bg-green-600 text-xs text-black text-center p-0.5 leading-none rounded-full level-bar font-bold" style="width: 70%"> 70%</div>
                        </div>
                    </div>
                    <div class="w-[82%] overflow-visible place-content-end grid grid-rows-2">   
                        <button id="settingsButton" data-dropdown-toggle="settingsDrop" class="text-black bg-white hover:bg-gray-200 h-10 testo rounded-md border-2 border-black p-2 z-50" type="button">SETTINGS</button>
                        <div id="settingsDrop" class=" bg-white hidden divide-y rounded-lg shadow w-44 border-2 border-solid border-black z-10 absolute">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="settingsButton">
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-600 hover:text-white text-black">Dashboard</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                                </li>
                                </ul>
                        </div>           
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-4 mb-10 bg-white bg-opacity-70 rounded-lg border-solid border-black border-2 h-[95%] w-[95%] flex justify-center place-self-center">
            
        </div>
    </div>
    <div class="grid grid-rows-2 gap-4">
        <div class="mx-4 bg-white bg-opacity-70 rounded-lg border-solid border-black border-2 h-[95%] w-[95%] flex justify-center place-self-center">
            
        </div>

        <div class="mx-4 mb-10 bg-white bg-opacity-70 rounded-lg border-solid border-black border-2 h-[95%] w-[95%] flex justify-center place-self-center">
            
        </div>
    </div>
</div>

<div class="background-image z-0"></div>
