<div class="absolute grid grid-cols-2 z-10 w-full h-full gap-4">
    <div class="grid grid-rows-[30%_70%] gap-4">
       <!-- master -->
        <div class="mx-4 my-4 bg-white bg-opacity-70 rounded-lg border-solid border-black border-2 h-[95%] w-[95%] grid justify-center place-self-center grid-cols-[30%_70%]">
           <!-- img -->
            <div class="place-content-center relative">
                <img [src] = "playerModel.ImgUrl" alt="Avatar" class="rounded-full w-[85%] h-[85%] place-self-center border-2 border-solid border-black">
            </div>
            <!-- subMaster -->
            <div class="grid grid-rows-[49%_2%_49%] mr-5">
                <!-- username -->
                <div class="place-content-end grid grid-cols-2">
                    <h1 class="player-info">{{playerModel.Username}}</h1>
                    <h1 class="player-info mx-auto">Lv.{{ playerLevel }}</h1>
                </div>
                <!-- blackbar -->
                <div class="place-content-center w-[85%]"><div class="orizontal-line w-full"></div></div>
                <div class="grid grid-rows-[35%_75%]">
                    <!-- levelbar -->
                    <div>
                        <div class="w-[85%] bg-gray-200 mt-2 rounded-full dark:bg-gray-700">
                            <div class="bg-green-600 text-xs text-black text-center p-0.5 leading-none rounded-full level-bar font-bold" style="width: 70%"> 70%</div>
                        </div>
                    </div>
                    <!-- settingline -->
                    <div class="w-[82%] flex justify-end z-[1000] h-[500px]">
                        <div class="relative z-[1000]">
                            <button (click)="openDropDown()" id="settingsButton" class="text-black bg-white hover:bg-gray-200 testo rounded-md border-2 border-black p-2 z-50 " type="button">SETTINGS</button>
                            <div #dropMenu id="settingsDrop" [ngClass]="dropShow?'block':'hidden'" class="bg-white divide-y rounded-lg shadow w-40 border-2 border-solid border-black z-[1000] max-h-48 flex-shrink-0">
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 z-[1000] w-full h-full flex-wrap" >
                                <li>
                                    <a (click)="openDropDown()" class="block px-4 py-2 hover:bg-green-600 text-black menu">Edit Profile</a>
                                </li>
                                <li>
                                    <a (click)="InitializeFriendList()" data-modal-target="extralarge-modal" data-modal-toggle="extralarge-modal" class="block px-4 py-2 hover:bg-green-600 text-black menu">Friends</a>
                                </li>
                                <li>
                                    <a (click)="openDropDown()" class="block px-4 py-2 hover:bg-green-600 text-black menu">LogOut</a>
                                </li>
                                </ul>
                            </div>    
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-4 mb-10 bg-white bg-opacity-70 rounded-lg border-solid border-black border-2 h-[95%] w-[95%] flex justify-center place-self-center">
            
        </div>
    </div>
    <!-- Destra -->
    <div class="grid grid-rows-2 gap-4">
        <div class="mx-4 bg-white bg-opacity-70 rounded-lg border-solid border-black border-2 h-[95%] w-[95%] flex justify-center place-self-center">
            
        </div>

        <div class="mx-4 mb-10 bg-white bg-opacity-70 rounded-lg border-solid border-black border-2 h-[99%] w-[95%] flex justify-center place-self-center">
            
        </div>
    </div>
</div>

<app-navbar class="flex justify-center"></app-navbar>
<div class="background-image z-0"></div>


<!-- MODALE AMICI -->


<div id="extralarge-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-7xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 h-[80vh]">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-medium font-sans text-gray-900 dark:text-white">
                    FRIENDS
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="extralarge-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4 grid grid-cols-[15%_90%] gap-5 h-full">
                <div class="border-r-2 border-solid border-black h-full">
                    <H1 class="mb-10 mt-3 font-[JackPot] friendHeading">OPTIONS</H1>
                    <ul>
                        <li class="py-3 hover:bg-white border-y-2 border-solid border-black" [ngClass]="{'bg-white': friendListIsActive}" (click)="SetFriendListActive()">
                            Lista Amici
                        </li>
                        <li class="py-3 hover:bg-white border-b-2 border-black" [ngClass]="{'bg-white': friendSearchIsActive}" (click)="SetFriendSearchActive()">
                            Cerca un Amico
                        </li>
                        <li class="py-3 hover:bg-white border-b-2 border-black" [ngClass]="{'bg-white': friendRequestIsActive}" (click)="SetFriendRequestActive()">
                            Richieste in Attesa
                        </li>
                    </ul>
                </div>
                <div>
                    OPZIONI
                </div>
        </div>
    </div>
</div>
