
<div class="maincontainer place-content-center text-center opacity-95">
    <h1 class="text-white title p-4">LIFE RPG</h1>
    <div class="max-w-sm p-6 bg-black mx-auto bg-opacity-30 rounded-lg grid-rows-3">
        <div class="mb-8 px-4">
            <h2 class="text-white text-start testo mb-2">USERNAME</h2>
            <input type="text" class="w-full rounded-sm h-10 p-2 input" placeholder="Inserisci il nome utente">
        </div>
        <div class="mb-10 px-4">
            <h2 class="text-white text-start testo mb-2">PASSWORD</h2>
            <input type="password" class="w-full rounded-sm h-10 p-2 input" placeholder="Inserisci la Password">
        </div>
        <div class="grid grid-cols-3 px-4">
            <button class="text-black bg-white hover:bg-gray-200 h-10 testo">REGISTER</button>
            <div class="px-[50%]">
                <div class="vertical-line"></div>
            </div>
            <button class="text-black bg-white hover:bg-gray-200 h-10 testo">LOGIN</button>
        </div>
    </div>
</div>

<div class="background-image"></div>